section.candidate
  .container
    h1.candidate__title
    .candidate-desc
      label.candidate__label Полное ФИО
        input.candidate__input(placeholder="Черняк Игорь Александрович")
      label.candidate__label Год рождения
        input.candidate__input(placeholder="1988")
      label.candidate__label Место жительства
        input.candidate__input(placeholder="г. Зеленоград, Россия")
      label.candidate__label Скайп
        input.candidate__input(placeholder="89060767697")
      label.candidate__label Почта
        input.candidate__input(placeholder="igor.chernyak88@mail.ru")