section.candidate
  .container
    h1.candidate__title
    .candidate-desc
      label.text-field Полное ФИО
        input.text-field__input(placeholder="Черняк Игорь Александрович")
      label.text-field Год рождения
        input.text-field__input(placeholder="1988")
      label.text-field Место жительства
        input.text-field__input(placeholder="г. Зеленоград, Россия")
      label.text-field Скайп
        input.text-field__input(placeholder="89060767697")
      label.text-field Почта
        input.text-field__input(placeholder="igor.chernyak88@mail.ru")