.header {
  @include phones {
    height: 150px;
  }
}

.header__logo {
  width: 154px;
  height: 52px;
  background-image: url('../img/logo-left.png');

  @include phones {
    margin: 0 auto;
  }

  &--right {
    width: 252px;
    height: 106px;
    background-image: url('../img/logo-right.png');
    position: absolute;
    top: -16px;
    right: -43px;

    @include desktop {
      right: -15px;
    }

    @include tablets {
      right: 0;
    }

    @include phones {
      top: 60px;
      right: 10px;
    }
  }
}