section.javascript
  .container
    h2.javascript__title Уровень владения JavaScript
    .slider
      .slider__scale
        .slider__pin
      .slider__text-wrap
        p(id='text1').slider__text Не владею
        p(id='text2').slider__text Использую готовые решения
        p(id='text3').slider__text Использую готовые решения и умею их переделывать
        p(id='text4').slider__text Пишу сложный JS с нуля
    .slider__desktop
      ul.slider__desktop-list
        li.slider__desktop-item
          input.slider__desktop-input.visually-hidden(type='radio' name='js' id='level-1' checked)
          label.slider__desktop-label(for='level-1') Не владею
        li.slider__desktop-item
          input.slider__desktop-input.visually-hidden(type='radio' name='js' id='level-2')
          label.slider__desktop-label(for='level-2') Использую готовые решения
        li.slider__desktop-item
          input.slider__desktop-input.visually-hidden(type='radio' name='js' id='level-3')
          label.slider__desktop-label(for='level-3') Использую готовые решения и умею их переделывать
        li.slider__desktop-item
          input.slider__desktop-input.visually-hidden(type='radio' name='js' id='level-4')
          label.slider__desktop-label(for='level-4') Пишу сложный JS с нуля
