section.javascript
  .container
    h2.javascript__title Уровень владения JavaScript
    .slider
      .slider__scale
        .slider__pin
      .slider__text-wrap
        p(id='text1').slider__text Не владею
        p(id='text2').slider__text Использую готовые решения
        p(id='text3').slider__text Использую готовые решения и умею их переделывать
        p(id='text4').slider__text Пишу сложный JS с нуля
