.javascript {
  font-family: 'pt_sansbold';
  margin-bottom: 25px;

  &__title {
    font-size: 24px;
    color: #2f1b15;
    margin-bottom: 20px;
  }
}

.slider {
  margin-top: 35px;
  width: 769px;

  @include desktop {
    display: none;
  }
}

.slider__scale {
  background-image: url("../img/scale.png");
  height: 26px;
  position: relative;
  width: 769px;
  margin-bottom: 5px;
}

.slider__pin {
  background-image: url("../img/pin.png");
  height: 14px;
  left: calc(150px - 17px / 2);
  position: absolute;
  top: -16px;
  width: 17px;
  cursor: pointer;

  &--transition {
    transition: left .1s ease-out;
  }
}

.slider__text-wrap {
  display: flex;
}

.slider__text {
  font-size: 13px;
  line-height: 20px;
  color: #3b261d;
  margin: 0;
  max-width: 175px;
  padding: 0;
  cursor: pointer;

  &:nth-of-type(1) {
    margin-right: 86px;
  }
  &:nth-of-type(2) {
    margin-right: 59px;
  }
  &:last-of-type {
    margin-left: auto;
  }
}

.slider__desktop-list {
  display: none;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
  margin-top: 15px;
  padding: 0;

  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.slider__desktop-item {
  width: 100%;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.slider__desktop-label {
  cursor: pointer;
  display: block;
  margin-left: 30px;
  position: relative;
  line-height: 30px;

  &::before {
    background-image: url("../img/radio-off.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 26px;
    left: -30px;
    position: absolute;
    top: 0;
    width: 26px;
  }
}

.slider__desktop-input:checked + .slider__desktop-label::before {
  background-image: url("../img/radio-on.png");
}