section.about
  .container
    h2.about__title Расскажите о себе словами
    p.about__desc Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
    textarea.about__text Здравствуйте. Я рассчитываю приносить пользу, применяя свои навыки и умения, развиваться как в вёрстке, так и в js. Для меня удалённая работа - это плюс. Ты не привязан к офису, но всё равно чувствуешь себя частью команды.
