extends layouts/default
include helpers/mixins

block variables
	- const title = "CSSSR"

block content
	include ../blocks/modules/header/header.pug
	include ../blocks/modules/candidate/candidate.pug
	include ../blocks/modules/skills/skills.pug

block scripts
	script(src="../js/main.js")
	script(src="../js/vendor.js")