extends layouts/default
include helpers/mixins

block variables
	- const title = "CSSSR - Igor Chernyak"

block content
	include ../blocks/modules/header/header.pug
	include ../blocks/modules/candidate/candidate.pug
	include ../blocks/modules/skills/skills.pug
	include ../blocks/modules/slider/slider.pug
	include ../blocks/modules/about/about.pug
	include ../blocks/modules/future/future.pug
	include ../blocks/modules/footer/footer.pug

block scripts
	script(src="../js/main.js")