.skills {
  font-family: 'pt_sansbold';
  margin-bottom: 65px;

  &__title {
    font-size: 24px;
    color: #2f1b15;
    margin-bottom: 20px;
  }

  &__text {
    font-family: 'pt_sansregular';
    font-size: 15px;
    color: #3d3d3d;
    margin-bottom: 35px;
  }
}