.footer {
  height: 170px;
  display: flex;
  align-items: center;

  &__text {
    display: flex;
    align-items: start;
    font-family: 'pt_sansbold';
    font-size: 22.43px;
    color: #2f1b15;
    line-height: 49.83px;
    margin: 0;
    margin-bottom: 13px;
  }

  &__input {
    background-color: transparent;
    background-image: url("../img/separator.png");
    background-position: bottom left;
    background-repeat: repeat-x;
    border: none;
    display: block;
    flex-grow: 0;
    font-family: 'courier_newregular';
    font-size: 30px;
    width: 195px;
    margin: 0;
    margin-left: 16px;
    padding-left: 14px;
    outline: none;
  }
}