h1, h2, h3, h4, h5, h6, ul {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

  body,
  html {
    height: 100%;
  }
  
  body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42;
    background-color: #797979;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;
  }

  .maincontent {
    margin: 0 auto;
    background-image: url('../img/bg.jpg');
    min-height: 100vh;
    max-width: 1000px;
    padding: 62px 0;
  }
  
  .container {
    margin: 0 auto;
    width: 806px;
    position: relative;
  }
  
  * {
    box-sizing: border-box;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: inherit;
    cursor: pointer;
  }
  
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }